<html>
    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/extjs/3.4.1-1/resources/css/ext-all.css" />
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/extjs/3.4.1-1/adapter/ext/ext-base.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/extjs/3.4.1-1/ext-all.js"></script>
        <script type="text/javascript" src="../js/FunctionPage.js"></script>
        <script type="text/javascript" src="../js/PagingMemoryProxy.js"></script>
        <link rel="stylesheet" href="../css/StylePage.css"/>
    </head>
    <body>
       <div id="grid_data"></div>
       <div id="dialog_create"></div>
       <div id="dialog_update"></div>
       <div id="dialog_delete"></div>
    </body>
</html>
